{{- $email := "" -}}

{{- $personal := promptBool "personal" -}}
{{- $headless := promptBool "headless" -}}

{{- if $personal -}}
{{-     $email = "pierre.lespagnol01@gmail.com" -}}
{{- else -}}
{{-     $email = "pierre.lespagnol@savoirfairelinux.com" -}}
{{- end }}

[data]
email = {{ $email | quote }}
personal = {{ $personal }}
headless = {{ $headless }}
