#!/bin/bash

echo "*** Install fonts ***"
fontsDir="${HOME}/.local/share/fonts"
mkdir -p ${fontsDir}

curl -s -L -o ${fontsDir}/"MesloLGS NF Regular.ttf" https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf
curl -s -L -o ${fontsDir}/"MesloLGS NF Bold.ttf" https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf
curl -s -L -o ${fontsDir}/"MesloLGS NF Italic.ttf" https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf
curl -s -L -o ${fontsDir}/"MesloLGS NF Bold Italic.ttf" https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf

echo "*** Install zsh third party ***"
. {{ .chezmoi.sourceDir }}/scripts/update_oh-my-zsh_third_party.sh