{{ if (eq .chezmoi.os "linux") -}}
{{ if (eq .chezmoi.osRelease.id "debian" "ubuntu" "fedora") -}}

#!/bin/bash
packages+=(
    git
    zsh
    snapd
    curl
    wget
    tig
    vim
    tree
    doxygen
)

snaps=()
classic_snaps=()

{{- if not .headless }}
    snaps+=(
        hugo
        spotify
        keepassxc
    )

    classic_snaps+=(
        code
    )

    package+=(
        firefox
    )
{{ end }}


{{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
    echo "*** Update ***"
    sudo add-apt-repository universe
    sudo apt update

    echo "*** Install package ***"
    sudo apt install -y ${packages[@]}
{{ else if (eq .chezmoi.osRelease.id "fedora") -}}
    echo "*** Update ***"
    sudo dnf update

    echo "*** Install package ***"
    sudo dnf install -y ${packages[@]}
{{ end }}

if [[ -z "${RUNNING_IN_DOCKER}" ]]; then
    echo "*** Install snaps ***"
    for snap in ${snaps[@]}; do
        sudo snap install $snap
    done

    echo "*** Install classic snaps"
    for classic_snap in ${classic_snaps[@]}; do
        sudo snap install $classic_snap --classic
    done
fi

{{ end }}
{{ end }}